@media only screen and (max-width: 700px) {


    .my-navbar {
        width: 100%;
    }

    /* === Nav-Top-Section-1 === */
    .nav-top-section-1 {
        width: 100%;
        /* background-image: linear-gradient(#003D32 40%,#036C48); */
        /* background-image: linear-gradient(#000 40%,#131921) */
        background-color: #131921;

        display: flex;
    }

    /*=== navbar-brand-and-location-section === */
    .navbar-brand-and-location-section {
        display: flex;
        cursor: pointer;

    }

    .navbar-logo {
        padding: 12px 0 4px;
        /* border: 1px solid transparent; */
    }

    .navbar-logo img {
        width: 100px;
        height: 30px;
        /* height: 35px; */
        margin: 1px;
        padding: 1px 8px 0 6px;
    }

    .location-icon {
        margin: 10px 0 0 4px;

    }

    .location-icon i {
        color: #fff;
        font-size: 18px;
        position: relative;
        top: 5px;
    }

    .navbar-location-section {
        display: flex;
        margin-left: 6px;
        margin-right: 15px;
    }

    .Location-section-Deliver-line {
        color: #CCCCCC;
        font-size: 13px;
        margin: 0;

    }

    .Location-section-Country-line {
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 1px;
        /* margin: 0 0 0 28px; */
    }

    .location-paragraph {
        display: inline-block;
        margin: 0;
        line-height: 16px;
        /* align-content: ; */
        margin-top: 10px;
        margin-left: 8px;
    }

    .navbar-search-section {
        margin: 10px 4px 10px 3px;
        display: flex;
        /* border: 1px solid red; */
        width: 55%;
    }

    .navbar-search-section select {
        width: 250px;
        font-size: 16px;
        color: #3c3e3e;
        background-color: #D4D4D4;
        border-radius: 6px 0 0 6px;
        padding: 8px 6px;
        outline: none;
        height: 41px;
        cursor: pointer;
    }

    .navbar-search-section select option {
        background-color: white;
        width: 18ch;
    }

    .navbar-search-section select:hover {
        background-color: rgb(196, 196, 196);
    }

    .navbar-search-section select:focus {
        border: 3px solid orange;
        margin: 0;
        padding: 0;
    }

    .navbar-search-section input {
        width: 100%;
        /* flex-shrink: 2; */
        outline: none;
        border: transparent;
        padding: 8px 6px;
    }

    .navbar-search-section input::placeholder {
        font-size: 15px;
    }

    .search-icon {
        background-color: #F3A847;
        width: 60px;
        position: relative;
        border-radius: 0 4px 4px 0;
    }

    .search-icon:hover {
        background-color: #e7962b;
        cursor: pointer;
    }

    .search-icon i {
        font-size: 20px;
        position: absolute;
        top: 8px;
        left: 6px;
        right: 6px;

    }

    .navbar-search-section input:focus {
        border: 2px solid #e7962b;
        margin: 0;
        padding: 0;
    }

    .nav-top-section-1-right-section {
        display: flex;
        align-items: center;
        margin-left: 24px;
        /* gap:  6px; */
    }

    .Nav-language-section {
        display: flex;
        align-items: center;
        margin: 18px 0 0 0;
        cursor: pointer;
    }

    .Nav-language-section img {
        width: 21.6px;
    }

    .Nav-language-section select {
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        border: none;
        outline: none;
        font-weight: 700;
        cursor: pointer;

    }

    .Nav-language-section option {
        color: black;
    }

    .Hello-Sign-in-Accounts-Lists-Section {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0 0 0 9px;
        cursor: pointer;
    }

    .Hello-Sign-in-Accounts-Lists-Section span {
        font-size: 12px;
        color: #fff;
        margin-left: 6px;
        cursor: pointer;
    }

    .Hello-Sign-in-Accounts-Lists-Section select {
        font-size: 14px;
        color: #fff;
        font-weight: 700;
        background: transparent;
        border: none;
        outline: none;
    }

    .Order-Returns-section {
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        cursor: pointer;
    }

    .Order-Returns-section .Return-line {
        color: #fff;
        font-size: 12px;
    }

    .Order-Returns-section .Order-line {
        color: #fff;
        font-weight: 700;
        font-size: 14px;
    }

    .cart-section {
        display: flex;
        align-items: center;
        padding: 0 0 0 20px;
        cursor: pointer;
        /* align-items: end; */
    }

    .cart-section img {
        width: 50px;
        height: 50px;
    }

    .cart-section p {
        color: #fff;
        /* margin-top: 12px; */
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 18px;
    }

    /* === Nav-Section-2 === */
    .nav-section-2 {
        width: 100%;
        background-color: #232f3e;
        padding: 8px 0 8px 8px;
        display: flex;
        gap: 10px;
        align-items: center;
        z-index: 1;
        margin: 600px 0 0 0;

    }

    .menu-icon-section {
        display: flex;
        align-items: baseline;
        gap: 0px;
        /* padding: 8px 9px; */
    }

    .menu-icon-section i {
        font-size: 18px;
        color: #fff;
    }

    .menu-icon-section span {
        color: #fff;
        font-size: 14px;
        align-self: baseline;
    }

    .nav-section-2-tabs {
        width: ;
    }

    .nav-section-2-tabs a {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
    }

    /* === Hero-Section-1 */
    .Hero-Section-1 {
        border: 1px solid red;
        width: 98%;
        margin: 0 auto;
        position: relative;
        height: 100vh;
    }

    /* === Cards-section-1 */
    .cards-section-1 {
        width: 100%;
        border: 1px solid green;
        position: absolute;
        top: 400px;
        /* left: 20px; */
        z-index: 1;
        /* width: 90%; */
        left: 0;
        margin: 0 auto;

    }

    .my-card {
        background-color: #fff;
        padding: 20px 15px 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
        /* cursor: pointer; */
        /* margin:  ; */
        /* align-items: center; */
    }

    .my-card img {
        cursor: pointer;
    }

    .my-card span {
        color: #2162A1;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
    }

    .my-card span:hover {
        color: #0C3353;
    }

    .my-card h2 {
        font-size: 21px;
        color: #0f1111;
        line-height: 27.3px;
        font-weight: 600;
        margin: 0;
        word-spacing: 2px;
    }

    .two-images-in-card-parent-1 {
        display: flex;
        gap: 15px;
    }

    .two-images-in-card-parent-2 {
        display: flex;
        gap: 15px;

    }

    .two-images-in-card-parent-1 span {
        color: #0f1111;
        font-size: 12px;
    }

    .two-images-in-card-parent-2 span {
        color: #0f1111;
        font-size: 12px;
    }

}