* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif, Arial;
}

body {
    background-image: linear-gradient(#E3E6E6);
}

.my-navbar {
    width: 100%;
}

/* === Nav-Top-Section-1 === */
.nav-top-section-1 {
    width: 100%;
    /* background-image: linear-gradient(#003D32 40%,#036C48); */
    /* background-image: linear-gradient(#000 40%,#131921) */
    background-color: #131921;

    display: flex;
}

/*=== navbar-brand-and-location-section === */
.navbar-brand-and-location-section {
    display: flex;
    cursor: pointer;

}

.navbar-logo {
    padding: 12px 0 4px;
    /* border: 1px solid transparent; */
}

.navbar-logo img {
    width: 114px;
    height: 35px;
    margin: 1px;
    padding: 1px 8px 0 6px;
}

.location-icon {
    margin: 10px 0 0 8px;

}

.location-icon i {
    color: #fff;
    font-size: 18px;
    position: relative;
    top: 5px;
}

.navbar-location-section {
    display: flex;
    margin-left: 6px;
    margin-right: 30px;
}

.Location-section-Deliver-line {
    color: #CCCCCC;
    font-size: 13px;
    margin: 0;

}

.Location-section-Country-line {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 1px;
    /* margin: 0 0 0 28px; */
}

.location-paragraph {
    display: inline-block;
    margin: 0;
    line-height: 16px;
    /* align-content: ; */
    margin-top: 10px;
    margin-left: 8px;
}

.navbar-search-section {
    margin: 10px 4px 10px 3px;
    display: flex;
    /* border: 1px solid red; */
    width: 55%;
}

.navbar-search-section select {
    width: 250px;
    font-size: 16px;
    color: #3c3e3e;
    background-color: #D4D4D4;
    border-radius: 6px 0 0 6px;
    padding: 8px 6px;
    outline: none;
    height: 41px;
    cursor: pointer;
}

.navbar-search-section select option {
    background-color: white;
    width: 18ch;
}

.navbar-search-section select:hover {
    background-color: rgb(196, 196, 196);
}

.navbar-search-section select:focus {
    border: 3px solid orange;
    margin: 0;
    padding: 0;
}

.navbar-search-section input {
    width: 100%;
    /* flex-shrink: 2; */
    outline: none;
    border: transparent;
    padding: 8px 6px;
}

.navbar-search-section input::placeholder {
    font-size: 15px;
}

.search-icon {
    background-color: #F3A847;
    width: 60px;
    position: relative;
    border-radius: 0 4px 4px 0;
}

.search-icon:hover {
    background-color: #e7962b;
    cursor: pointer;
}

.search-icon i {
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 6px;
    right: 6px;

}

.navbar-search-section input:focus {
    border: 2px solid #e7962b;
    margin: 0;
    padding: 0;
}

.nav-top-section-1-right-section {
    display: flex;
    align-items: center;
    margin-left: 24px;
    /* gap:  6px; */
}

.Nav-language-section {
    display: flex;
    align-items: center;
    margin: 18px 0 0 0;
    cursor: pointer;
}

.Nav-language-section img {
    width: 21.6px;
}

.Nav-language-section select {
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;

}

.Nav-language-section option {
    color: black;
}

.Hello-Sign-in-Accounts-Lists-Section {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 0 0 9px;
    cursor: pointer;
}

.Hello-Sign-in-Accounts-Lists-Section span {
    font-size: 12px;
    color: #fff;
    margin-left: 6px;
    cursor: pointer;
}

.Hello-Sign-in-Accounts-Lists-Section select {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background: transparent;
    border: none;
    outline: none;
}

.Order-Returns-section {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    cursor: pointer;
}

.Order-Returns-section .Return-line {
    color: #fff;
    font-size: 12px;
}

.Order-Returns-section .Order-line {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.cart-section {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    cursor: pointer;
    /* align-items: end; */
}

.cart-section img {
    width: 50px;
    height: 50px;
}

.cart-section p {
    color: #fff;
    /* margin-top: 12px; */
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 18px;
}


/* === Nav-Section-2 === */
.nav-section-2 {
    width: 100%;
    background-color: #232f3e;
    padding: 8px 0 8px 11px;
    display: flex;
    gap: 20px;
    align-items: center;

}

.menu-icon-section {
    display: flex;
    align-items: baseline;
    gap: 10px;
    /* padding: 8px 9px; */
}

.menu-icon-section i {
    font-size: 18px;
    color: #fff;
}

.menu-icon-section span {
    color: #fff;
    font-size: 14px;
    align-self: baseline;
}

.nav-section-2-tabs a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

/* === Hero-Section-1 */
.Hero-Section-1 {
    /* border: 1px solid red; */
    width: 98%;
    margin: 0 auto;
    position: sticky;
}
/* === Cards-section-1 */
.cards-section-1 {
    width: 97%;
    /* border: 1px solid green; */
    position: absolute;
    top: 400px;
    /* left: 20px; */
    z-index: 1;
    /* width: 90%; */
    left: 20px;
    margin: 0 auto;
    padding-bottom: 40px;
    align-items: stretch;

}
.my-col-card-section-1{
align-items: stretch;
display: flex;

}


.my-card {
    background-color: #fff;
    padding: 20px 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* cursor: pointer; */
    /* margin:  ; */
    /* align-items: center; */
}
.my-card-gaming{
/* height: 72.9vh; */
display: flex;
gap: 30px;
}

.my-card-gaming span{
    margin: 2px 0 0;
}
.my-card-fashion{
gap: 15px;
}
.my-card-fashion .two-images-in-card-parent-1{
margin:  15px 0 0 ;
/* margin-top: auto; */
  }
.my-card-fashion  > span{
/* margin: 43px 0 0; */
}
.my-card-fashion div{
/* height: 100vh; */
}
.my-card-gaming img{
width: 100%;
}
.my-card img {
    cursor: pointer;
}

.my-card span {
    color: #2162A1;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    margin-top: auto;
}

.my-card span:hover {
    color: #0C3353;
}

.my-card h2 {
    font-size: 21px;
    color: #0f1111;
    line-height: 27.3px;
    font-weight: 600;
    margin: 0;
    word-spacing: 2px;
}

.two-images-in-card-parent-1 {
    display: flex;
    /* gap: 15px; */
    justify-content: space-evenly;
}
.two-images-in-card-parent-1 div{
flex: 1;
display: flex;
flex-direction: column;
}
.two-images-in-card-1st-img-div-section{
margin:  0 15px 0 0 ;
}
.two-images-in-card-parent-1 img{
flex: 1;
width: 100%;
}

.two-images-in-card-parent-2 {
    display: flex;
    /* gap: 15px; */

}
.two-images-in-card-parent-2 div{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    

}
.two-images-in-card-parent-2 img{
    flex: 1;
    width: 100%;
    
}
.two-images-in-card-parent-1 span {
    color: #0f1111;
    font-size: 12px;
    font-weight: 500;
}

.two-images-in-card-parent-2 span {
    color: #0f1111;
    font-size: 12px;
        font-weight: 500;

}

/* === Card-Section-2 === */
.cards-section-2 {
    width: 97%;
    /* border: 1px solid blue; */
    /* gap: 12px; */
    /* position: relative; */
    /* left: 20px; */
    z-index: 1;
    /* width: 90%; */
    /* left: 10px; */
    margin: 140px auto 40px;
    display: flex;
    justify-content: start;
        align-items: stretch;


}
.my-col-card-section-2-card-1{
padding: 0 12px 0 6px;
}
.my-col-card-section-2 {
display: flex;
align-items: stretch;
/* padding: 0 20px 0 0 ; */
}

.three-images-in-card-parent {

    display: flex;
    width: 100%;
    /* margin:  0 10px 0 0; */
    /* margin: 0 10px; */
    /* gap: 6px; */
        align-items: stretch;
        gap: 10px;

    /* align-items: stretch; */
}
.three-images-in-card-parent div{
    width: 100%;
    /* border: 1px solid red; */
}
.three-images-in-card-parent div > span{
    font-size: 14px;
}
.three-images-center-pic{

}
.three-images-in-card-parent img{
    /* width: 80%; */
width: 100%;
    align-items: stretch;
    height: 90px;
}
.Cooker-img-parent img{
    width: 100%;
    
}
.Cooker-img-parent span {
    font-size: 14px;
    font-weight: 600;
    color: #0f1111;

}

.three-images-in-card-parent span {
    font-size: 15px;
    font-weight: 600;
    color: #0f1111;
    /* margin: 0 0 0 0 ; */
}
.my-card-fashion-section-2{
gap: 20px;
}
.my-card-fashion-section-2 .two-images-in-card-parent-1{
margin: 40px 0 0;
}

/* === History Section */
.history-section {
    /* border: 1px solid orange; */
    margin: 40px auto;
    width: 96%;
    background-color: #fff;
    padding: 15px 20px;

}

.history-section span {
    font-size: 21px;
    color: #0f1111;
    font-weight: 600;
    display: inline-block;
    margin: 0 0 12px 0;
}

.history-section a {
    text-decoration: none;
    color: #2162A1;
    font-size: 14px;
    padding: 0 0 0 15px;
}

.history-section a:hover {
    text-decoration: underline;
    color: #0C3353;

}

.history-section-images-parent {
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
}

.history-section img {
    cursor: pointer;
}

/* === Browsing History Section === */
.Browsing-history-section {
    /* border: 1px solid orange; */
    margin: 40px auto;
    width: 96%;
    background-color: #fff;
    padding: 15px 20px;

}

.Browsing-history-section span {
    font-size: 21px;
    color: #0f1111;
    font-weight: 600;
    display: inline-block;
    margin: 0 0 12px 0;
}

.Browsing-history-section a {
    text-decoration: none;
    color: #2162A1;
    font-size: 14px;
    padding: 0 0 0 15px;
}

.Browsing-history-section a:hover {
    text-decoration: underline;
    color: #0C3353;

}

.Browsing-history-section-images-parent {
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;

}

.Browsing-history-section img {
    cursor: pointer;
}

/* === Best Sellers Section === */
.Best-Sellers-Section {
    /* border: 1px solid red; */
    margin: 40px auto;
    width: 96%;
    background-color: #fff;
    padding: 15px 20px;

}

.Best-Sellers-Section span {
    font-size: 21px;
    color: #0f1111;
    font-weight: 600;
    display: inline-block;
    margin: 0 0 12px 0;
}

.Best-Sellers-Section a {
    text-decoration: none;
    color: #2162A1;
    font-size: 14px;
    padding: 0 0 0 15px;
}

.Best-Sellers-Section a:hover {
    text-decoration: underline;
    color: #0C3353;

}

.Best-Sellers-Section-images-parent {
    display: flex;
justify-content: space-between;
}

.Best-Sellers-Section img {
    cursor: pointer;
}

/* === Popular-Products-Section === */
.Popular-Products-Section {
    /* border: 1px solid yellow; */
    margin: 40px auto;
    width: 96%;
    background-color: #fff;
    padding: 15px 20px;

}


.Popular-Products-Section span {
    font-size: 21px;
    color: #0f1111;
    font-weight: 600;
    display: inline-block;
    margin: 0 0 12px 0;
}

.Popular-Products-Section a {
    text-decoration: none;
    color: #2162A1;
    font-size: 14px;
    padding: 0 0 0 15px;
}

.Popular-Products-Section a:hover {
    text-decoration: underline;
    color: #0C3353;

}

.Popular-Products-Section-images-parent {
    display: flex;
   justify-content: space-between;
}

.Popular-Products-Section img {
    cursor: pointer;
}

/* === Personalized Section Signin Section === */
.Personalized-Section-Signin-Section {
    /* border: 1px solid red; */
    background-color: #fff;
    width: 100%;
    margin: 40px auto;
    padding: 10px 0;
    /* border-top: 1px solid #EEEEEE; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Personalized-Section-Signin-Section h2{
font-size: 24px;
color: #000;
font-weight: 600;
word-spacing: 4px;
margin-bottom: 12px;

}
.border-top{
border-top: 1px solid rgb(86, 84, 84);
    height: 17px;
    width: 80%;
    margin: 20px 0 10px;
}
.Personalized-Section-Signin-Section button{
background-color: #FFD814;
color: #0f1111;
padding: 5px 11px;
border-radius: 16px;
font-size: 15px;
border: none;
outline: none;
width: 200px;
font-weight: 600;
margin: 0 0 4px 0;
}
.Personalized-Section-Signin-Section button:hover{
background-color: #fbcb0b;
}
.Personalized-Section-Signin-Section span{
color: #0f1111;
font-size: 11px;
}
.Personalized-Section-Signin-Section a{
color: #2162A1;
font-size: 11px;
text-decoration: none;

}
.Personalized-Section-Signin-Section a:hover{
text-decoration: underline  #0C3353;
  color: #0C3353;

}
.bottom-border{
width: 99%;
border-bottom:  1px solid #DDD;
    height: 17px;
    margin: 20px 0 10px;
}

/* === Back to top button === */
.back-to-top-button{
background-color: #37475a;
color: #fff;
width: 100%;
font-size: 13px;
padding: 15px 0;
text-align: center;
border: none;
outline: none;
font-weight: 600;
display: block;
text-decoration: none;
}
.back-to-top-button:hover{
background-color: #42546a;
}





@media only screen and (max-width: 700px){

.my-navbar {
    width: 100%;
}

/* === Nav-Top-Section-1 === */
.nav-top-section-1 {
    width: 100%;
    /* background-image: linear-gradient(#003D32 40%,#036C48); */
    /* background-image: linear-gradient(#000 40%,#131921) */
    background-color: #131921;

    display: flex;
}

/*=== navbar-brand-and-location-section === */
.navbar-brand-and-location-section {
    display: flex;
    cursor: pointer;

}

.navbar-logo {
    padding: 12px 0 4px;
    /* border: 1px solid transparent; */
}

.navbar-logo img {
    width: 80px;
    max-width: 90px;
    height: 30px;
    margin: 1px;
    padding: 1px 3px 0 6px;
}

.location-icon {
    margin: 10px 0 0 4px;

}

.location-icon i {
    color: #fff;
    font-size: 18px;
    position: relative;
    top: 5px;
}

.navbar-location-section {
    display: flex;
    margin-left: 6px;
    margin-right: 10px;
}

.Location-section-Deliver-line {
    color: #CCCCCC;
    font-size: 11px;
    margin: 0;

}

.Location-section-Country-line {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 1px;
    /* margin: 0 0 0 28px; */
}

.location-paragraph {
    display: inline-block;
    margin: 0;
    line-height: 16px;
    /* align-content: ; */
    margin-top: 10px;
    margin-left: 8px;
}

.navbar-search-section {
    margin: 10px 4px 10px 3px;
    display: flex;
    /* border: 1px solid red; */
    width: 55%;
}

.navbar-search-section select {
    width: 60px;
    font-size: 16px;
    color: #3c3e3e;
    background-color: #D4D4D4;
    border-radius: 6px 0 0 6px;
    padding: 8px 6px;
    outline: none;
    height: 41px;
    cursor: pointer;
}

.navbar-search-section select option {
    background-color: white;
    width: max-content;
    display: none;
}

.navbar-search-section select:hover {
    background-color: rgb(196, 196, 196);
}

.navbar-search-section select:focus {
    border: 3px solid orange;
    margin: 0;
    padding: 0;
}

.navbar-search-section input {
    width: 100%;
    /* flex-shrink: 2; */
    outline: none;
    border: transparent;
    padding: 8px 6px;
}

.navbar-search-section input::placeholder {
    font-size: 15px;
}

.search-icon {
    background-color: #F3A847;
    width: 60px;
    position: relative;
    border-radius: 0 4px 4px 0;
}

.search-icon:hover {
    background-color: #e7962b;
    cursor: pointer;
}

.search-icon i {
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 6px;
    right: 6px;

}

.navbar-search-section input:focus {
    border: 2px solid #e7962b;
    margin: 0;
    padding: 0;
}

.nav-top-section-1-right-section {
    display: flex;
    align-items: center;
    margin-left: 24px;
    /* gap:  6px; */
}

.Nav-language-section {
    display: flex;
    align-items: center;
    margin: 18px 0 0 0;
    cursor: pointer;
}

.Nav-language-section img {
    width: 21.6px;
}

.Nav-language-section select {
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;

}

.Nav-language-section option {
    color: black;
}

.Hello-Sign-in-Accounts-Lists-Section {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 0 0 9px;
    cursor: pointer;
}

.Hello-Sign-in-Accounts-Lists-Section span {
    font-size: 12px;
    color: #fff;
    margin-left: 6px;
    cursor: pointer;
}

.Hello-Sign-in-Accounts-Lists-Section select {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background: transparent;
    border: none;
    outline: none;
}

.Order-Returns-section {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    cursor: pointer;
}

.Order-Returns-section .Return-line {
    color: #fff;
    font-size: 12px;
}

.Order-Returns-section .Order-line {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.cart-section {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    cursor: pointer;
    /* align-items: end; */
}

.cart-section img {
    width: 50px;
    height: 50px;
}

.cart-section p {
    color: #fff;
    /* margin-top: 12px; */
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 18px;
}


/* === Nav-Section-2 === */
.nav-section-2 {
    width: 100%;
    background-color: #232f3e;
    padding: 8px 0 8px 8px;
    display: flex;
    /* gap: 20px; */
    align-items: baseline;
     /* gap: 0; */
     gap: 8px;
}

.menu-icon-section {
    display: flex;
    align-items: baseline;
    gap: 6px;
    /* padding: 8px 9px; */
}

.menu-icon-section i {
    font-size: 14px;
    color: #fff;
}

.menu-icon-section span {
    color: #fff;
    font-size: 12px;
    align-self: baseline;
}
.nav-section-2-tabs-mobile-hidden{
display: none;
}

.nav-section-2-tabs-mobile-responsive{
text-align: center;
}
.nav-section-2-tabs{
    width: 100%;
}
.nav-section-2-tabs a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

/* === Hero-Section-1 */
.Hero-Section-1 {
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
    position: sticky;
    height: 100vh;
}
.Hero-Section-1 img{
    width: 100%;
    height: 100vh;
}
.my-carousel{
width: 100%;
height: 100vh;
}
    
}